{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Css.Base.css' %}">
    <meta name="viewport" content="width=device-width,user-escalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">


</head>
<body>
    {% block header %}


        <nav class="navbar navbar-inverse navbar-static-top " role="navigation">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"> Equipo 5</a>
                </div>
                <div class="collapse navbar-collapse" id="navegacion-fm">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="Principal" > Principal</a></li>
                        <li ><a href="RegistrarPersona" > Registrar personas</a></li>
                        <li ><a href="VerPersonas"> Ver personas</a></li>
                        <li ><a href="BuscarPersona"> Buscar personas</a></li>
                    </ul>
                </div>
            </div>

           </nav>

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"></a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> Next</a>>
            {% endif %}
        </li>
    </ul>


    <h4> Header FOOTER </h4>
    {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></script>
    <!-- <script src = "{% static 'Js/bootstrap.min.js' %}"></script>-->

    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</body>
</html> el de