{% extends 'Base/Base.html'  %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="jumbotron">
        <div class="container">
            <h2>Lista de Personas registradas </h2>
            <p>Encuentra aqui las personas que ya han sido registradas previamente </p>
        </div>
    </section>

        {% if object_list %}
            <section CLASS="jumbotron">
                {% for persona in object_list %}
                <div class = "container" >
                    <a href="{% url 'VerDatosGener' persona.id %}" ><h1 > {{ persona.nombre }} </h1></a>
                    <aside class = "container"></aside>
                    <aside class="container">
                        <div><SPAN> Codigo : </SPAN>{{ persona.id }}</div>
                        <div><SPAN>Apellidos y nombres: </SPAN>{{ persona.nombre }}</div>
                        <div><SPAN>DNI : </SPAN>{{ persona.dni }}</div>
                    </aside>
                </div>
                {% endfor %}
            </section>
            {% endif %}
    <script>

    </script>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>APELLIDOS Y NOMBRES</td>
                <td>DNI</td>
            </tr>
        </thead>

        <tbody>
            <div class="table-responsive">
            {% if object_list %}
               {% for persona in object_list %}
                <tr class="activate">
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.dni }}</td>

                </tr>
                 {% endfor%}
            {%endif%}
            </div>
        </tbody>


    </table>
    <ul class="pager">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"></a>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> Next</a>>
            {% endif %}
        </li>
    </ul>
{% endblock %}