{% extends 'Base/Base.html'  %}
{% load crispy_forms_tags %}
  {% block content %}
        <section class="jumbotron">
            <div class="container">
                    <section CLASS="jumbotron">

                        <section class="main row">

                            <div class="col-xs-3 col-md-3 col-lg-3">
                                <div class="row-md-2" ><a href="VerDatosGener"><img src="https://image.flaticon.com/icons/svg/167/167750.svg" width="50%" height="15%"></a></div><hr>
                                <div class="row-md-2"><a href="VerProfesion"><img src="https://image.flaticon.com/icons/svg/201/201614.svg" width="50%" height="15%"></a></div><hr>
                                <div class="row-md-2"><a href="VerExperiencia"><img src="https://image.flaticon.com/icons/svg/201/201567.svg" width="50%" height="15%"></a></div><hr>
                                <div class="row-md-2"><a href="VerCapacitacion"><img src="https://image.flaticon.com/icons/svg/906/906175.svg " width="50%" height="15%"></a></div>

                            </div>

                            <div class="col-xs-7 col-md-6 col-lg-9">
                                <h1> {{ datos.nombre }} </h1>
                                <div >
                                    <h2>Detalle de Persona </h2>
                                    <hr>
                                    <aside class="container">
                                      <div><SPAN> Codigo : {{ datos.id }}</SPAN></div>
                                      <div><SPAN>Apellidos y nombres: </SPAN>{{ datos.nombre }}</div>
                                      <div><SPAN>DNI : </SPAN>{{ datos.dni }}</div>
                                    </aside>
                                </div>

                                <div >
                                    <h2>Profesiones </h2>
                                    {% for prof in profesion %}
                                        {% if prof%}
                                            <div class="container">
                                              <div><h3>  {{ prof.CodProf }}</h3></div>
                                              <div><SPAN>Centro de estudio: </SPAN>{{ prof.CodCentEst }}</div>
                                              <div><SPAN>NroCIP : </SPAN>{{ prof.NroCIP }}</div>
                                              <div><SPAN> Fecha CIP vigente : {{ prof.FecCIPVig }}</SPAN></div>
                                              <div><SPAN>Vigencia : {{ prof.Vigente }}</SPAN></div>
                                            </div>
                                              <aside>
                                                    <button  class="btn btn-primary" type="submit">EDITAR</button>
                                                    <button  class="btn btn-primary" type="submit">ELIMINAR</button>
                                              </aside>
                                        {% else %}
                                            <div><span>No tiene profesiones </span></div>
                                        {% endif%}
                                    {% endfor %}
                                    <DIV>
                                        <button  class="btn btn-primary" type="submit">AÑADIR PROFESION</button>
                                    </DIV>
                                </div>
                                <div>
                                    <h2>Capacitaciones</h2>
                                    <hr>
                                    {% for cap in capacitacion %}
                                        {% if cap%}
                                            <div>
                                                <div><h3>{{cap.CodProf}}</h3></div>
                                                <div><span>Profesion: {{cap.CodCentEst}}</span></div>
                                                <div><span>NroCIP: {{cap.NombreInst}}</span></div>
                                                <div><span>Vigencia de Nro CIP: {{cap.DesCap}}</span></div>
                                                <div><span>Fecha de inicio: {{cap.FecIni}}</span></div>
                                                <div><span>Fecha de fin: {{cap.FecFin}}</span></div>
                                                <div><span>Fecha de inicio: {{cap.NroHoras}}</span></div>
                                                <div><span>Vigencia: {{cap.Vigente}}</span></div>
                                            </div>
                                            <aside>
                                                <button  class="btn btn-primary" type="submit">EDITAR</button>
                                                <button  class="btn btn-primary" type="submit">ELIMINAR</button>
                                            </aside>
                                        {% else %}
                                         <div><span>No tiene capacitaciones </span></div>
                                        {% endif%}
                                    {% endfor %}
                                    <DIV>
                                        <button  class="btn btn-primary" type="submit">AÑADIR PROFESION</button>
                                    </DIV>

                                </div>
                                <hr>
                                <div>
                                    <h2>Experiencia</h2>
                                    {% for exp in experiencia %}
                                        {% if exp %}
                                            <div>
                                                    <div><h3>{{exp.LugarTrabajo}}</h3></div>
                                                    <div><span>Descripcion de trabajo:{{exp.DesTrabajo}}</span></div>
                                                    <div><span>Fecha de inicio :{{exp.FecIni}}</span></div>
                                                    <div><span>Fecha de fin:{{exp.FecFin}}</span></div>
                                                    <div><span>Convocatoria : {{exp.NroConv}}</span></div>
                                                    <div><span>Contrato:{{exp.Contrato}}</span></div>
                                                    <div><span>MotivoRetiro: {{exp.MotivoRetiro}}</span></div>
                                                    <div><span>Profesion:  {{exp.CodProf}}</span></div>
                                                    <div><span> Vigencia:  {{exp.Vigente}}</span></div>
                                                    <br>
                                             </div>
                                            <aside>
                                                <button  class="btn btn-primary" type="submit">EDITAR</button>
                                                <button  class="btn btn-primary" type="submit">ELIMINAR</button>
                                            </aside>
                                        {% else %}
                                         <div><span>No tiene experiencia </span></div>
                                        {% endif%}
                                    {% endfor %}
                                    <DIV>
                                        <button  class="btn btn-primary" type="submit">AÑADIR PROFESION</button>
                                    </DIV>

                                </div>
                            </div>
                        </section>
                    </section>
            </div>
        </section>


    {% endblock %}