{% extends 'Base/Base.html'%}
{% load crispy_forms_tags %}
{%block content%}
<section class="jumbotron">
        <div class="container">
            <div class="row" style="text-align: center;">
                <div align="center">
                    <div class="col-md-3" ><a href="RegistrarPersona"><img src="https://image.flaticon.com/icons/svg/167/167750.svg" width="40%" height="15%"></a></div>
                    <div class="col-md-3"><a href="RegistrarProfesion"><img src="https://image.flaticon.com/icons/svg/201/201614.svg" width="40%" height="15%"></a></div>
                    <div class="col-md-3"><a href="RegistrarExperiencia"><img src="https://image.flaticon.com/icons/svg/201/201567.svg" width="40%" height="15%"></a></div>
                    <div class="col-md-3"><a href="RegistrarCapacitacion"><img src="https://image.flaticon.com/icons/svg/906/906175.svg " width="40%" height="15%"></a></div>
                </div>
            </div>


            <div class="row">

                <h2 >Registrar personas </h2>
                <p> Aqui registraremos a las personas naturales </p>

                <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button  class="btn btn-primary" type="submit">GUARDAR</BUTTON>
                </FORM>
            </DIV>

        </DIV>
</SECTION>


{% endblock %}